---
title: 会社情報
---
<%= partial 'layouts/header' %>
<section id='inner-headline'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <ul class='breadcrumb'>
          <li>
            <% link_to '/' do %>
              <i class='fa fa-home'></i>
            <% end %>
            <i class='icon-angle-right'></i>
          </li>
          <li class='active'>会社概要</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <h2 class='heading'>会社概要</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <table class='table'>
          <% data.about.campany_informations.each do |info| %>
            <tr>
              <th><%= info.header %></th>
              <td><%= info.data %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <!-- divider -->
    <div class='row'>
      <div class='col-lg-12'>
        <div class='solidline'></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <h2 class='heading'>アクセス</h2>
      </div>
    </div>
  </div>
  <div class='map' style='margin-top: 0;'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1734.992330496195!2d139.66484453565232!3d35.70289307936958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f293119069ef%3A0x6ec050a2ed9ed742!2z44CSMTY0LTAwMDEg5p2x5Lqs6YO95Lit6YeO5Yy65Lit6YeO77yT5LiB55uu77yS77yT4oiS77yU77yWIOOCqOODquOCt-OCouODsw!5e0!3m2!1sja!2sjp!4v1655286116865!5m2!1sja!2sjp" style="pointer-events:none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <h4>所在地</h4>
        <p>
          〒164-0001
          <br>
            東京都中野区中野3-23-46-202
            <br>
          </br>
        </p>
      </div>
      <div class='col-sm-6'>
        <h4>最寄り駅</h4>
        <p>
          ＪＲ中央線「中野駅」から徒歩５分
        </p>
      </div>
    </div>
  </div>
</section>
<%= partial 'layouts/inquiry' %>
<%= partial 'layouts/footer' %>
<%= partial 'layouts/scrollup' %>
